{% extends 'projects/base.html' %}

{% block content %}
    <main>
        <div>
            
            <h1>My Tasks</h1>
            {% if task|length == 0 %}
            <p>You have no tasks</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Is comepleted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in task %}
                    <tr>
                        <td>{{ tasks.name }}</td>
                        <td>{{ tasks.start_date }}</td>
                        <td>{{ tasks.due_date }}</td>
                        <td>{{ tasks.is_completed|yesno }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
